body {
  margin: 0px;
  padding: 0px;
  background-color: bisque;
}
a {
  text-decoration: none;
}
header {
  display: "block";
  position: relative;
  height: 150px;
  width: 100vw;
  max-width: 100%;
  background-color: aquamarine;
  text-align: center;
}
.log {
  position: absolute;
  width: 150px;
  font-family: fantasy;
  height: 25px;
  bottom: 0px;
  right: 0px;
  border-radius: 4px;
  border-color: rgb(270, 255, 235);
  background-color: rgb(250, 235, 215);
}
footer {
  display: "block";
  position: relative;
  height: 150px;
  width: 100vw;
  max-width: 100%;
  background-color: aquamarine;
  text-align: center;
  bottom: -18px;
}
.content {
  max-width: 90%;
  margin: 0 auto;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
