.cart {
  height: 200px;
  width: 300px;
  display: block;
  border: solid 2px white;
  border-radius: 15px;
  position: relative;
  background-color: #fff0a1;
  color: black;
  padding-left: 20px;
}

.price {
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: 8px;
}
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.msg {
  font-size: 34px;
  line-height: 40px;
  margin: 3px;
}
.carts {
  background-color: rgb(230, 213, 193);
}
